@{
    Layout = "~/Views/Shared/Navbar.cshtml";
}

<button type="button" class="hamburger is-closed" data-toggle="offcanvas">
    <span class="hamb-top"></span>
    <span class="hamb-middle"></span>
    <span class="hamb-bottom"></span>
</button>
    <div class="row">
        <div class="col-lg-7 col-lg-offset-2 sadrzaj">

            <h1 class="naslov">Elektrotehnički fakultet</h1><br />
            <p>
                Elektrotehnički fakultet u Sarajevu je osnovan 1961. godine, a prva generacija studenata upisana je godinu dana ranije, u okviru tad postojećeg Tehničkog fakulteta u Sarajevu.
                <br /><br />
                Fakultet je danas smješten u prostoru Kampusa Univerziteta u Sarajevu u objektima čija površina omogućuje standard od cca 5 m2 po studentu. Za izvjesne laboratorijske vježbe Fakultet koristi i kapacitete javnih preduzeća JP Elektroprivreda BiH i Telecom BiH.
                <br /><br />
                Od osnutka pa do danas na Elektrotehničkom fakultetu u Sarajevu<br />
                - diplomirala su 4646 studenta<br />
                - stupanj magistra steklo je 312 kandidata<br />
                - stupanj doktora tehničkih nauka steklo je 105 kandidata.<br />
                <br />
                Na Fakultetu danas u stalnom radnom odnosu radi:<br />
                - 32 nastavnika<br />
                - 31 asistent.<br />
                <br />
                U dopunskom radnom odnosu angažirano je:<br />
                - 24 nastavnika<br />
                - 40 asistenata.<br />
                <br />
                U tekućoj akademskoj 2007/2008 na Fakultet je upisano<br />
                - 1564 studenta na dodiplomski studij (ETF-AB+ETF-B)<br />
                - 287 studenata na postdiplomski magistarski studij.<br />
                <br />
                Studij se odvija u okviru četiri odsjeka:<br />
                - Odsjek za automatiku i elektroniku na kome studira 220 studenata na ETF-AB+ETF-B i 34 na postdiplomskom magistarskom studiju;<br />
                - Odsjek za elektroenergetiku na kome studira 243 studenta na ETF-AB+ETF-B i 35 na postdiplomskom magistarskom studiju;<br />
                - Odsjek za računarstvo i informatiku na kome studira 572 studenata na ETF-AB+ETF-B i 106 na postdiplomskom magistarskom studiju;<br />
                - Odsjek za telekomunikacije na kome studira 529 studenata na ETF-AB+ETF-B i 112 na postdiplomskom magistarskom studiju.<br />

            </p>

        </div>
    </div>
