@{
    Layout = "~/Views/Shared/Navbar.cshtml";
}

<button type="button" class="hamburger is-closed" data-toggle="offcanvas">
    <span class="hamb-top"></span>
    <span class="hamb-middle"></span>
    <span class="hamb-bottom"></span>
</button>

    <div class="container">
      
        <div style="display: inline-block; margin: 35px">
            <canvas id="cvsPie" width="800" height="400">[No canvas support]</canvas>
        </div>

        <script>
            $(document).ready(function () {
                GetPie();
            });

            function GetPie() {
                var canvas = document.getElementById('cvsPie');
                var context = canvas.getContext('2d');
                context.clearRect(0, 0, 1500, 700);

                $.ajax({
                    url: '/Financial/GetPie',
                    type: 'POST',
                    cache: false,
                    success: function (datos) {
                        RGraph.reset(canvas)
                        var ytd = eval('[' + datos + ']');
                        if (ytd.length > 0) {
                            var line = new RGraph.Pie("cvsPie", ytd)
                                .set('strokestyle', 'white')
                                .set('colors', ['#DDDF0F', '#7798BF'])
                                .set('linewidth', 3)
                                .set('exploded', [15])
                                .set('shadowOffsetx', 2)
                                .set('shadowOffsety', 2)
                                .set('labels', ['Prisutni', 'Odsutni'])
                                .set('labelsSticksList', true)
                                .set('labelsSticksUsecolors', false)
                                .set('textColor', '#000')
                                .set('textSize', 12)
                                .set('textAccessible', true)
                                .roundRobin();

                        }
                    },
                });
            }
        </script>
    </div>
