
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student</title>
    <link rel="stylesheet" href="~/Style/CSS/default.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/libraries/RGraph.bar.js"></script>
    <script src="~/libraries/RGraph.common.core.js"></script>
    <script src="~/libraries/RGraph.common.dynamic.js"></script>
    <script src="~/libraries/RGraph.common.key.js"></script>
    <script src="~/libraries/RGraph.drawing.rect.js"></script>
    <script src="~/libraries/RGraph.common.tooltips.js"></script>
    <script src="~/libraries/RGraph.drawing.yaxis.js"></script>
    <script src="~/libraries/RGraph.drawing.xaxis.js"></script>
    <script src="~/libraries/RGraph.line.js"></script>
    <script src="~/libraries/RGraph.common.effects.js"></script>
    <script src="~/libraries/RGraph.pie.js"></script>
    <script src="~/libraries/RGraph.drawing.marker1.js"></script>
    <script src="~/libraries/RGraph.drawing.marker2.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a>@Html.ActionLink("Home", "Login", "Login")</a><span class="sr-only">(current)</span></a></li>
                <li class="active"><a>@Html.ActionLink("Student service", "Student", "Student")</a></li>
                <li><a>@Html.ActionLink("Financial service", "Financial", "Financial")</a></li>
                <li><a>@Html.ActionLink("Academic service", "Academic", "Academic")</a></li>
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Option</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a></a><a class="pull-right" href="~/Home/Index">Log out</a></li>
            </ul>

        </div>
    </nav>

    <div class="container">
        <div style="display: inline-block; margin: 35px">
            <canvas id="cvsBacheleor" width="800" height="400">[No canvas support]</canvas>
        </div>
        <div style="display: inline-block; margin: 35px">
            <canvas id="cvsMaster" width="800" height="400">[No canvas support]</canvas>
        </div>

        <script>
            $(document).ready(function () {
                GetChartBacheleor();
                GetChartMaster();
            });

            function GetChartBacheleor(tooltipShow) {
                var canvas = document.getElementById('cvsBacheleor');
                var context = canvas.getContext('2d');
                context.clearRect(0, 0, 1500, 700);
                yaxisName = '%'

                $.ajax({
                    url: '/Student/GetDataForChartBacheleor',
                    type: 'POST',
                    cache: false,
                    success: function (datos) {
                        RGraph.reset(canvas)
                        var ytd = eval('[' + datos + ']');
                        if (ytd.length > 0) {
                            var tooltip1 = ['2013 - <b>' + ytd[0] + '%</b>', '2014 - <b>' + ytd[1] + '%</b>', '2015 - <b>' + ytd[2] + '%</b>', '2016 - <b>' + ytd[3] + '%</b>', '2017 - <b>' + ytd[4] + '%</b>'];
                            var line = new RGraph.Line("cvsBacheleor", ytd)
                                .set('labels', ['2013', '2014', '2015', '2016', '2017'])
                                .set('gutter.left', 100)
                                .set('colors', ['#181B1E'])
                                .set('background.barcolor1', '#FFF')
                                .set('background.barcolor2', '#FFF')
                                .set('tickmarks', 'endcircle')
                                .set('linewidth', 3)
                                .set('shadow', true)
                                .set('numxticks', 2)
                                .set('key', ['Number of enrolled students over the years'])
                                .set('key.position', 'gutter')
                                .set('key.interactive', true)
                                .set('shadow.blur', 20)
                                .set('shadow.color', ['#16181a', '#510821'])
                                .set('tickmarks', 'circle')
                                .set('tooltips', tooltip1)
                                .set('scale.zerostart', false)
                                .set('ylabels', false)
                                .set('background.grid.autofit.align', true)
                                .set('text.angle', 90)
                                .set('gutter.bottom', 40)
                                .set('gutter.top', 40)
                                .set('tooltips.hotspot.xonly', true)
                                .draw()
                                .trace();

                            var yaxis = new RGraph.Drawing.YAxis('cvsBacheleor', line.gutterLeft)
                                .set('max', line.max)
                                .set('title', 'Bacheleor students')
                                .set('colors', ['black'])
                                .set('gutter.bottom', 55)
                                .set('gutter.top', 40)
                                //.set('max', ymaxValue)
                                //.set('min', yminValue)
                                .draw();
                        }
                    },
                });
            }

            function GetChartMaster(tooltipShow) {
                var canvas = document.getElementById('cvsMaster');
                var context = canvas.getContext('2d');
                context.clearRect(0, 0, 1500, 700);
                yaxisName = '%'

                $.ajax({
                    url: '/Student/GetDataForChartMaster',
                    type: 'POST',
                    cache: false,
                    success: function (datos) {
                        RGraph.reset(canvas)
                        var ytd = eval('[' + datos + ']');
                        if (ytd.length > 0) {
                            var tooltip1 = ['2013 - <b>' + ytd[0] + '%</b>', '2014 - <b>' + ytd[1] + '%</b>', '2015 - <b>' + ytd[2] + '%</b>', '2016 - <b>' + ytd[3] + '%</b>', '2017 - <b>' + ytd[4] + '%</b>'];
                            var line = new RGraph.Line("cvsMaster", ytd)
                                .set('labels', ['2013', '2014', '2015', '2016', '2017'])
                                .set('gutter.left', 100)
                                .set('colors', ['#181B1E'])
                                .set('background.barcolor1', '#FFF')
                                .set('background.barcolor2', '#FFF')
                                .set('tickmarks', 'endcircle')
                                .set('linewidth', 3)
                                .set('shadow', true)
                                .set('numxticks', 2)
                                .set('key', ['Number of enrolled students over the years'])
                                .set('key.position', 'gutter')
                                .set('key.interactive', true)
                                .set('shadow.blur', 20)
                                .set('shadow.color', ['#16181a', '#510821'])
                                .set('tickmarks', 'circle')
                                .set('tooltips', tooltip1)
                                .set('scale.zerostart', false)
                                .set('ylabels', false)
                                .set('background.grid.autofit.align', true)
                                .set('text.angle', 90)
                                .set('gutter.bottom', 40)
                                .set('gutter.top', 40)
                                .set('tooltips.hotspot.xonly', true)
                                .draw()
                                .trace();

                            var yaxis = new RGraph.Drawing.YAxis('cvsMaster', line.gutterLeft)
                                .set('max', line.max)
                                .set('title', 'Master students')
                                .set('colors', ['black'])
                                .set('gutter.bottom', 55)
                                .set('gutter.top', 40)
                                //.set('max', ymaxValue)
                                //.set('min', yminValue)
                                .draw();
                        }
                    },
                });
            }
        </script>
    </div>
</body>
</html>
