@{
    Layout = "~/Views/Shared/Navbar.cshtml";
}

<button type="button" class="hamburger is-closed" data-toggle="offcanvas">
    <span class="hamb-top"></span>
    <span class="hamb-middle"></span>
    <span class="hamb-bottom"></span>
</button>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 sadrzaj">
            <img src="~/Style/Pictures/etf-zgrada.jpg" style="width:100%;"/>
            <h1 class="naslov" style="height:3em;">Welcome to the official EBS page!</h1><br />
        </div>
</div>