@{
    Layout = "~/Views/Shared/Navbar.cshtml";
}

<button type="button" class="hamburger is-closed" data-toggle="offcanvas">
    <span class="hamb-top"></span>
    <span class="hamb-middle"></span>
    <span class="hamb-bottom"></span>
</button>

<body>
    <div class="col-md-6">
        <div>
            <div>
                <canvas id="cvs" height="537" width="762" title="Chart" style="border-color:black; margin-left:10%;border-style:double;">[No canvas support]</canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        @using (Ajax.BeginForm("GenerateChart", "GenerateChart", new AjaxOptions { UpdateTargetId = "divInterestDetails" }))
        {
            <div id="divInterestDetails" style="margin-left:15%;margin-right:10%;">
                <select id="salary" name="salary" class="form-control" style="margin-bottom:1%; text-align:center;">
                    <option label="Please Select " selected="selected"></option>
                    <option>salary</option>
                    <option>userid</option>
                    <option>description</option>
                </select>

                <select id="description" name="description" class="form-control" style="margin-bottom:1%; text-align:center;">
                    <option label="Please Select" selected="selected"></option>
                    <option>description</option>
                    <option>title</option>
                    <option>salary</option>
                </select>
                <button style="text-align:center;width:100%; margin-top:1%;" onclick="submitForm(this)" id="submitButton" class="btn btn-primary">
                    OK
                </button>
            </div>
        }

        <div id="buttons" style="margin-left:20%;margin-right:10%;margin-top:2%;">
            <div class="col-md-4" style="margin-left:10%;"><img src="~/Style/Pictures/bar.png" id="barImage" style="max-height:100%;max-width:100%;" onclick="myBarChart()" /></div>
            <div class="col-md-4"><img src="~/Style/Pictures/donut.png" id="donutImage" style="max-height:100%;max-width:100%; " onclick="myDonutChart()" /></div>

            <div class="col-md-4" style="margin-left:10%;"><img src="~/Style/Pictures/line.png" id="lineImage" style="max-height:100%;max-width:100%;" onclick="myLineChart()" /></div>
            <div class="col-md-4"><img src="~/Style/Pictures/radar.png" id="radarImage" style="max-height:100%;max-width:100%;" onclick="myRadarChart()" /></div>
        </div>



    </div>



    @section scripts {
        <script src="~/Scripts/Chart.js"></script>
        <script src="~/Scripts/Common.js"></script>
        <script>
            function submitForm(button) {
                button.form.submit();
            }
            function myBarChart() {
                //-----Single Bar -------------
                var c = document.getElementById("cvs");
                var ctx = c.getContext("2d");
                c.height = 600;
                c.width = 850;
                var tData = $.getValues("/GenerateChart/ChartBarAndDonutData");
                var myBarChart = new Chart(ctx, {
                    type: 'bar',
                    data: tData
                });
                $("#buttons").hide();
            }

            function myDonutChart() {
                //-----Single Bar -------------
                var c = document.getElementById("cvs");
                var ctx = c.getContext("2d");
                c.height = 600;
                c.width = 850;
                var tData = $.getValues("/GenerateChart/ChartBarAndDonutData");
                var myBarChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: tData
                });

                $("#buttons").hide();
            }
            function myLineChart() {
                //-----Single Bar -------------
                var c = document.getElementById("cvs");
                var ctx = c.getContext("2d");
                c.height = 600;
                c.width = 850;
                var tData = $.getValues("/GenerateChart/ChartRadarAndLineData");
                var myBarChart = new Chart(ctx, {
                    type: 'line',
                    data: tData
                });
                $("#buttons").hide();
            }
            function myRadarChart() {
                //-----Single Bar -------------
                var c = document.getElementById("cvs");
                var ctx = c.getContext("2d");
                c.height = 600;
                c.width = 850;
                var tData = $.getValues("/GenerateChart/ChartRadarAndLineData");
                var myBarChart = new Chart(ctx, {
                    type: 'radar',
                    data: tData
                });
                $("#buttons").hide();
            }</script>
    }

</body>